<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    

    <meta name="keywords" content="юридическая консультация онлайн бесплатно, консультация юриста онлайн, консультация юриста и адвоката">
    <meta name="description" content="Если у вас есть проблемы с законом, и вам нужна немедленная помощь, вы можете ✅проконсультироваться с юристом онлайн здесь. ✅Получите быстрый ответ на ваш юридический запрос от ✅квалифицированного адвоката.">
    <title>Юридическая консультация онлайн - бесплатная помощь юристов и адвокатов 24 часа в сутки</title>



    <link rel="stylesheet" type="text/css" href="./files/jquery.ui.all.css">
    <link rel="stylesheet" type="text/css" href="./files/isconsultant.min.css">



    <link rel="stylesheet" type="text/css" href="./files/bundle.safe.min.css">

    <link rel="stylesheet" type="text/css" href="./files/bundle.min.css">
    <link rel="stylesheet" href="./files/bundle.min(1).css" as="style" onload="this.onload=null;this.rel=&#39;stylesheet&#39;">

    <meta name="apple-mobile-web-app-title" content="{{ name }}">
    <meta name="application-name" content="{{ name }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width">
    <style type="text/css">
        .CRZ {
            table-layout: fixed;
        }

        .CRZ td,
        .CRZ th {
            padding-left: 0px !important;
            padding-right: 0px !important;
            overflow: hidden
        }

        .CRC {
            height: 0px;
            position: relative;
        }

        .CRG {
            margin-left: -5px;
            position: absolute;
            z-index: 5;
        }

        .CRG .CRZ {
            position: absolute;
            background-color: red;
            filter: alpha(opacity=1);
            opacity: 0;
            width: 10px;
            height: 100%;
            top: 0px
        }

        .CRL {
            position: absolute;
            width: 1px
        }

        .CRD {
            border-left: 1px dotted black
        }
    </style>
    <style type="text/css" data-fbcssmodules="css:fb.css.basecss:fb.css.dialog css:fb.css.iframewidget">
        .fb_hidden {
            position: absolute;
            top: -10000px;
            z-index: 10001
        }

        .fb_reposition {
            overflow: hidden;
            position: relative
        }

        .fb_invisible {
            display: none
        }

        .fb_reset {
            background: none;
            border: 0;
            border-spacing: 0;
            color: #000;
            cursor: auto;
            direction: ltr;
            font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
            font-size: 11px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 1;
            margin: 0;
            overflow: visible;
            padding: 0;
            text-align: left;
            text-decoration: none;
            text-indent: 0;
            text-shadow: none;
            text-transform: none;
            visibility: visible;
            white-space: normal;
            word-spacing: normal
        }

        .fb_reset>div {
            overflow: hidden
        }

        @keyframes fb_transform {
            from {
                opacity: 0;
                transform: scale(.95)
            }

            to {
                opacity: 1;
                transform: scale(1)
            }
        }

        .fb_animate {
            animation: fb_transform .3s forwards
        }

        .fb_dialog {
            background: rgba(98, 89, 89, 0.7);
            position: absolute;
            top: -10000px;
            z-index: 10001
        }

        .fb_dialog_advanced {
            border-radius: 8px;
            padding: 10px
        }

        .fb_dialog_content {
            background: #fff;
            color: #373737
        }

        .fb_dialog_close_icon {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
            cursor: pointer;
            display: block;
            height: 15px;
            position: absolute;
            right: 18px;
            top: 17px;
            width: 15px
        }

        .fb_dialog_mobile .fb_dialog_close_icon {
            left: 5px;
            right: auto;
            top: 5px
        }

        .fb_dialog_padding {
            background-color: transparent;
            position: absolute;
            width: 1px;
            z-index: -1
        }

        .fb_dialog_close_icon:hover {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent
        }

        .fb_dialog_close_icon:active {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent
        }

        .fb_dialog_iframe {
            line-height: 0
        }

        .fb_dialog_content .dialog_title {
            background: #6d84b4;
            border: 1px solid #365899;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            margin: 0
        }

        .fb_dialog_content .dialog_title>span {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
            float: left;
            padding: 5px 0 7px 26px
        }

        body.fb_hidden {
            height: 100%;
            left: 0;
            margin: 0;
            overflow: visible;
            position: absolute;
            top: -10000px;
            transform: none;
            width: 100%
        }

        .fb_dialog.fb_dialog_mobile.loading {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
            min-height: 100%;
            min-width: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 10001
        }

        .fb_dialog.fb_dialog_mobile.loading.centered {
            background: none;
            height: auto;
            min-height: initial;
            min-width: initial;
            width: auto
        }

        .fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
            width: 100%
        }

        .fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
            background: none
        }

        .loading.centered #fb_dialog_loader_close {
            clear: both;
            color: #fff;
            display: block;
            font-size: 18px;
            padding-top: 20px
        }

        #fb-root #fb_dialog_ipad_overlay {
            background: rgba(0, 0, 0, .4);
            bottom: 0;
            left: 0;
            min-height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 10000
        }

        #fb-root #fb_dialog_ipad_overlay.hidden {
            display: none
        }

        .fb_dialog.fb_dialog_mobile.loading iframe {
            visibility: hidden
        }

        .fb_dialog_mobile .fb_dialog_iframe {
            position: sticky;
            top: 0
        }

        .fb_dialog_content .dialog_header {
            background: linear-gradient(from(#738aba), to(#2c4987));
            border-bottom: 1px solid;
            border-color: #043b87;
            box-shadow: white 0 1px 1px -1px inset;
            color: #fff;
            font: bold 14px Helvetica, sans-serif;
            text-overflow: ellipsis;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
            vertical-align: middle;
            white-space: nowrap
        }

        .fb_dialog_content .dialog_header table {
            height: 43px;
            width: 100%
        }

        .fb_dialog_content .dialog_header td.header_left {
            font-size: 12px;
            padding-left: 5px;
            vertical-align: middle;
            width: 60px
        }

        .fb_dialog_content .dialog_header td.header_right {
            font-size: 12px;
            padding-right: 5px;
            vertical-align: middle;
            width: 60px
        }

        .fb_dialog_content .touchable_button {
            background: linear-gradient(from(#4267B2), to(#2a4887));
            background-clip: padding-box;
            border: 1px solid #29487d;
            border-radius: 3px;
            display: inline-block;
            line-height: 18px;
            margin-top: 3px;
            max-width: 85px;
            padding: 4px 12px;
            position: relative
        }

        .fb_dialog_content .dialog_header .touchable_button input {
            background: none;
            border: none;
            color: #fff;
            font: bold 12px Helvetica, sans-serif;
            margin: 2px -12px;
            padding: 2px 6px 3px 6px;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
        }

        .fb_dialog_content .dialog_header .header_center {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            line-height: 18px;
            text-align: center;
            vertical-align: middle
        }

        .fb_dialog_content .dialog_content {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
            border: 1px solid #4a4a4a;
            border-bottom: 0;
            border-top: 0;
            height: 150px
        }

        .fb_dialog_content .dialog_footer {
            background: #f5f6f7;
            border: 1px solid #4a4a4a;
            border-top-color: #ccc;
            height: 40px
        }

        #fb_dialog_loader_close {
            float: left
        }

        .fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
            visibility: hidden
        }

        #fb_dialog_loader_spinner {
            animation: rotateSpinner 1.2s linear infinite;
            background-color: transparent;
            background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px
        }

        @keyframes rotateSpinner {
            0% {
                transform: rotate(0deg)
            }

            100% {
                transform: rotate(360deg)
            }
        }

        .fb_iframe_widget {
            display: inline-block;
            position: relative
        }

        .fb_iframe_widget span {
            display: inline-block;
            position: relative;
            text-align: justify
        }

        .fb_iframe_widget iframe {
            position: absolute
        }

        .fb_iframe_widget_fluid_desktop,
        .fb_iframe_widget_fluid_desktop span,
        .fb_iframe_widget_fluid_desktop iframe {
            max-width: 100%
        }

        .fb_iframe_widget_fluid_desktop iframe {
            min-width: 220px;
            position: relative
        }

        .fb_iframe_widget_lift {
            z-index: 1
        }

        .fb_iframe_widget_fluid {
            display: inline
        }

        .fb_iframe_widget_fluid span {
            width: 100%
        }
    </style>
</head>

<body class="index-public" style="">
    <div id="vk_api_transport" style="position: absolute; top: -10000px;"></div>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N86C7HG" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="darkbg" class="nodisplay"></div>
    <div id="mainpopupdiv" class="nodisplay popup inner"></div>

    <div id="react-header-widget" class="">
        <header id="header" class="header">
            <div class="header-top">
                <div class="header-top__container">
                    <div class="header-top__left"><a class="header-top__logo" href="/"><svg class="svg-icon svg-icon--logo-new">
                                <use xlink:href="/images/v3/sprite-plain.svg#logo-new"></use>
                            </svg></a></div>
                    <div class="header-top__center">
                        <div class="header-top__user-modes"></div>
                    </div>
                    <div class="header-top__right">
                        <div class="header-top__city">
                            <div class="header-top__city-inner"><a href="/#0" class="header-top__city-button"><svg class="svg-icon svg-icon--map-point">
                                        <use xlink:href="/images/v3/sprite-plain.svg#map-point"></use>
                                    </svg> <span>Москва</span></a></div>
                        </div>
                        <div class="header-top__support ml-16">
                            <div class="header-top__support-inner"><a href="tel:8 499 938-65-20" class="header-top__support-phone"><svg class="svg-icon svg-icon--phone-empty">
                                        <use xlink:href="/images/v3/sprite-plain.svg#phone-empty"></use>
                                    </svg> <span>8 499 938-65-20</span></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom" style="left: 0px;">
                <div class="header-bottom__line"></div>
                <div class="header-bottom__inner">
                    <div class="header-bottom__container">
                        <div class="header-bottom__left"><button class="header-bottom__burger-menu">
                                <div class="header-bottom__burger-menu-inner">
                                    <div class="header-bottom__burger-menu-line"></div>
                                    <div class="header-bottom__burger-menu-line"></div>
                                    <div class="header-bottom__burger-menu-line"></div>
                                </div>
                            </button>
                            <nav class="header-navigation ml-12"><a href="#" class="header-navigation__link header-navigation__link--highlighted"><span class="header-navigation__label">Задать вопрос</span></a><a href="/call" class="header-navigation__link"><span class="header-navigation__label"><b>Заказать звонок</b></span></a></nav>
                        </div>
                        <div class="header-bottom__right">
                            <div class="header-bottom__controls"><button class="header-bottom__control header-bottom__control--search"><svg class="svg-icon svg-icon--search-bold">
                                        <use xlink:href="/images/v3/sprite-plain.svg#search-bold"></use>
                                    </svg></button></div><button class="header-bottom__button">Войти</button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 0px;"></div>
        </header>
    </div>



    <div class="newBg"></div>

    <div class="mainpage mainpage-v6">

        <div class="mainpage-main mainpage-main-real-photo">
            <div class="mainpage-main-container">
                <div class="mainpage-main-photo-lawyer">
                    <div class="mainpage-main-photo-lawyer__info">
                        <a target="_blank" rel="nofollow" href="/lawyer/1143890/?from=index-form" class="mainpage-main-photo-lawyer__name">Ольга Жоховец</a>
                        <div class="mainpage-main-photo-lawyer__specialization">юрист {{ name }}</div>
                    </div>
                </div>
                <div class="mainpage-main-wrapper">
                    <h1>Юридическая консультация онлайн</h1>
                    <p>На&nbsp;{{ name }} вы&nbsp;можете быстро получить консультацию юриста онлайн или
                        по&nbsp;телефону.
                        Юридическая помощь предоставляется на&nbsp;бесплатной и&nbsp;платной основе.
                        Задайте вопрос прямо сейчас, и&nbsp;его увидят сотни профессионалов со&nbsp;всей России.
                        Первый ответ вы&nbsp;получите уже через 15&nbsp;минут!
                        <script>
                            if (!window.niprvd) {
                                niprvd = [];
                            }
                            niprvd.push({ "str": "                    <a data-url=\"\/learnmore\/\" target=\"_blank\" class=\"sh_load_text\" data-text=\"main_page_learn_more\"><\/a><\/p>\n                ", "target": "#cf55fdacab07ac7fb597c7fdedb2d548" });
                        </script>
                        <a data-url="/learnmore/" target="_blank" class="" data-text="main_page_learn_more" href="/learnmore/">Узнать больше</a>
                    </p><p></p>

                    <p></p>
                    <form action="/newquestion/from/main/" method="post">
                        <input type="hidden" name="shortQuestion" value="true">
                        <textarea name="text" placeholder="Опишите здесь свою проблему"></textarea>
                        <div class="mainpage-main-block-under-textarea clearfix">
                            <div class="mainpage-main-submit"><a href="javascript:void(0);" class="newButton green submit">Задать вопрос</a></div>
                            <div class="mainpage-main-phone-hint">Не хотите ждать? Звоните бесплатно!</div>
                            <a class="mainpage-main-phone-number-link" href="tel:8 499 938-65-20">
                                <div class="mainpage-main-phone-number">
                                    <span>8 499 938-65-20</span>
                                </div>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="prvdStatsContainer">

        </div>

        <div class="b2b-entry-point b2b-entry-point--background-1">
            <div class="b2b-entry-point__inner">
                <div class="b2b-entry-point__container p-36">
                    <div class="b2b-entry-point__col mr-65">
                        <div class="b2b-entry-point__title mb-8">Нужен юрист для бизнеса?</div>
                        <div class="b2b-entry-point__description">{{ name }} запустил новый сервис для предпринимателей
                        </div>
                    </div>
                    <div class="b2b-entry-point__col">
                        <a href="/call" class="b2b-entry-point__button b2b-entry-point__button--transparent" target="_blank">Обратиться бесплатно</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="full-width white--bg">
            <div class="full-width__container">
                <div class="appstore-section">
                    <div class="appstore-section__container">
                        <h2 class="appstore-section__title"><span class="col--green">Гарантированный ответ</span> в
                            мобильном приложении и Telegram!</h2>
                        <p class="appstore-section__text">В&nbsp;наших мобильных сервисах юристы отвечают быстрее
                            и&nbsp;ответ
                            гарантирован даже на&nbsp;бесплатный вопрос.</p>
                        <a target="_blank" href="https://itunes.apple.com/" class="appstore-section__button">
                            <svg class="icon-appstore-black">
                                <use xlink:href="/images/svg/icons.svg#svg-icon-appstore-black"></use>
                            </svg>
                        </a>
                        <a target="_blank" href="https://play.google.com/store/apps/details" class="appstore-section__button google-play__button">
                            <img src="./files/google-play-color.png" alt="">
                        </a>
                        <a target="_blank" href="https://t.me/pravorobot" class="appstore-section__button telegram__button">
                            <img src="./files/telegram-color-retina.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>


</body></html>